
<section id="main-content" >
	<section class="wrapper page page-user" data-page="user">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="btn-group  button-next">
						<button class="btn btn-default refresh" name="year">一年</button>
						<button class="btn btn-default refresh" name="mon">一月</button>
						<button class="btn btn-default refresh" name="week">一周</button>
						<button class="btn btn-default refresh" name="day">一天</button>
						<button class="btn btn-default refresh" name="hour">一小时</button>
					</div>
				</div>
				<div class="row charts">
					<div class="col-md-4">
						<section class="panel">
							<div class="chart" id="user-cpu_usage" name="cpu_usage"></div>
							<footer class="pie-foot">平均CPU使用率</footer>
						</section>
					</div>
					<div class="col-md-4">
						<section class="panel">
							<div class="chart" id="user-load_five" name="load_five"></div>
							<footer class="pie-foot">平均负载值</footer>
						</section>
					</div>
					<div class="col-md-4">
						<section class="panel">
							<div class="chart" id="user-mem_total" name="mem_total"></div>
							<footer class="pie-foot">平均内存使用</footer>
						</section>
					</div>
				</div>
				<div class="row charts">
					<div class="col-md-4">
						<section class="panel">
							<div class="chart" id="user-disk_total" name="disk_total"></div>
							<footer class="pie-foot">平均磁盘使用</footer>
						</section>
					</div>
					<div class="col-md-4">
						<section class="panel">
							<div class="chart" id="user-bytes_in" name="bytes_in"></div>
							<footer class="pie-foot">平均网络流量</footer>
						</section>
					</div>
					<div class="col-md-4">
						<section class="panel">
							<div class="chart" id="user-proc_run" name="proc_run"></div>
							<footer class="pie-foot">平均活跃进程</footer>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<section class="panel">
							<!-- <header class="panel-heading">
                                  Responsive table
                              </header> -->
							<div class="panel-body">
								<table id="user-instance-list-table" class="table table-bordered table-hover datatable">
									<thead>
									<tr>
										<th>UUID</th>
										<th>云主机名</th>
										<th class="numeric">固定IP</th>
										<th class="numeric">规格</th>
										<th class="numeric">可用域</th>
										<th class="numeric">镜像</th>
									</tr>
									</thead>
									<tbody >
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<!--widget start-->
				<section class="user-info panel" id="user-info">
				</section>
				<!--widget end-->
				<!--widget start-->
				<div class="panel">
					<div class="panel-body">
						<h4 class="terques">用户资源</h4>
						<div class="row">
							<div id="user-instance_trend" name="instance_trend" style="height:160px"></div>
							<h6>用户主机申请走势</h6>
						</div>
						<div class="row">
							<div id="user-ticket_trend" name="ticket_trend" style="height:160px"></div>
							<h6>用户工单申请走势</h6>
						</div>
					</div>
				</div>
				<!--widget end-->
			</div>
		</div>
	</section>
	<script id="userInstanceListTemplate" type="text/template">
		{{#list}}
		<tr style="cursor:pointer;" data-id="{{fixed_ip}}">
			<td>{{uuid}}</td>
			<td>{{instance_name}}</td>
			<td class="numeric">{{fixed_ip}}</td>
			<td class="numeric">{{vcpus}}CPUX{{ecus_per_vcpu}}ECUS,内存{{memory_mb}}MB,系统硬盘{{rootfs_gb}}GB,用户硬盘{{storage_gb}}GB</td>
			<td class="numeric">{{az}}</td>
			<td class="numeric">{{os_type}}</td>
		</tr>
		{{/list}}
	</script>
	<script id="userInfoTemplate" type="text/template">
		{{#user}}
		<div class="twt-feed blue-bg">
			<h1>{{user_name}}</h1>
			<a href="#">
				<img src="img/profile-avatar.jpg" alt=""></a>
		</div>
		<div class="twt-category">
			<div  class="text-list">
				<p><span class="terques">主机数 :</span><small>{{instance_count}}</small></p>
				<p><span class="terques">工单数 :</span><small>{{ticket_count}}</small></p>
				<p><span class="terques">邮箱 :</span><small>{{email}}</small></p>
				<p><span class="terques">座机 :</span><small>{{office_phone}}</small></p>
				<p><span class="terques">手机 : </span><small>{{mobile}}</small></p>
				<p><span class="terques">部门 :</span><small>{{parent_name}}</small></p>
			</div>
		</div>
		{{/user}}
	</script>
</section>
